/* work-sans-bold */
@font-face {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 700;
	src: local("Work Sans Bold"), local("WorkSans-Bold"), url('../assets/fonts/work-sans-bold.woff2') format("woff2");
}
/* work-sans-regular */
@font-face {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Work Sans Regular"), local("WorkSans-Regular"), url('../assets/fonts/work-sans-regular.woff2') format("woff2");
}
/* work-sans-semibold */
@font-face {
	font-family: Work Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Work Sans SemiBold"), local("WorkSans-SemiBold"), url('../assets/fonts/work-sans-semibold.woff2') format("woff2");
}
/* work-sans-italic */
@font-face {
	font-family: Work Sans;
	font-style: italic;
	font-weight: 400;
	src: local("Work Sans Italic"), local("WorkSans-Italic"), url('../assets/fonts/work-sans-italic.woff2') format("woff2");
}

:root {
  font-family: "Work Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --grayish-purple-color: hsl(292, 16%, 49%);
  --dark-purple-color: hsl(292, 42%, 14%);
  --light-pink-color: hsl(275, 100%, 97%);
  --white-pure-color: hsl(0, 0%, 100%);

  /* Breakpoints =  mobile: 375px, desktop: 1440px .*/
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
	font-family: "Work Sans";
}

h1 {
	/* 3.2rem at 375px and 5.6rem at 600px */
	font-size: clamp(3.2rem, -0.8rem + 10.667vw, 5.6rem);
	font-weight: 700;
	color: var(--dark-purple-color);
}

h5 {
	font-size: 1.6rem;
	font-weight: 600;
	color: var(--dark-purple-color);
}

p {
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--grayish-purple-color);
	line-height: 2.1rem;
}